{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        .hr {

        }
    </style>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>NEWS | {% block title %}HOME{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {#    <a class="navbar-brand" href="#">Navbar</a>#}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'homepage' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            </li>
            {% if new_feedbacks %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">New
                        feedbacks: {{ NEW_FEEDBACKS }}</a>
                </li>
            {% endif %}
        </ul>
        {% if user.is_authenticated %}
            <ul class="navbar-nav mr-5">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {{ user.username }} {{ user.tokens }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'coupons' %}">Coupons</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
            </ul>
        {% else %}
            <a class="nav-link" href="{% url 'login' %}">Login</a> |
            <a class="nav-link" href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>
</nav>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% block content %}
    <a href="{% url 'new_place' %}" class="btn btn-success">Add new place</a>

    <div>
        {% for place in place_list %}
            <p><a href="{% url 'place_detail' place.id %}">{{ place.name }}</a></p>
            <p>{{ place.description }}</p>
            <p><img src="{{ place.image.url }}" alt="" width="200px"></p>
            {% if user == place.created_by %}
                <a href="{% url 'place_edit' place.id %}" class="btn btn-info">EDIT</a>
            {% endif %}
            <a href="{% url 'new_feedback' place.id %}" class="btn btn-warning">Add feedback</a>
            <p>Feedbacks ({{ place.feedback_set.count }})</p>
            <form action="{% url "new_feedback" place.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="place" value="{{ place.id }}">
                <label for="feedback_text__{{ place.id }}">Add feedback</label>
                <textarea name="text" id="feedback_text__{{ place.id }}" cols="30" rows="10"></textarea>
                <button>Add</button>
            </form>
        {% endfor %}
    </div>
{% endblock %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
{% block extrajs %}
{% endblock %}
</body>
</html>
