{% extends 'places/base.html' %}


{% block title %}Coupons{% endblock %}

{% block content %}
    <a href="{% url 'new_coupon' %}">ADD COUPON</a>
    <div>
        {% for object in object_list %}
            <p>{{ object.code }} | {{ object.price }}</p>
        {% empty %}
            No coupons
        {% endfor %}
    </div>

{% endblock %}
