{% extends 'places/base.html' %}


{% block title %}Create feedback{% endblock %}

{% block content %}
    <div class="container">
        <form action="" method="post"  enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form.as_p }}
            <button>Save</button>
        </form>
    </div>
{% endblock %}
