{% extends 'places/base.html' %}


{% block title %}Create place{% endblock %}

{% block content %}
    <p><{{ place.name }}</p>
    <p><img src="{{ place.image.url }}" alt="" width="200px"></p>

    <p>{{ place.description }}</p>
    <a href="{% url 'new_feedback' place.id %}" class="btn btn-warning">Add feedback</a>
    <br><br>
    <p>Feedbacks</p>
    <ul>
        {% for feedback in place.feedback_set.all %}
            {% if feedback.status == feedback.APPROVED or user.id == place.created_by.id %}
                <li>
                    {% if feedback.status == feedback.NEW %}
                        <form action="{% url 'moderate_feedback' feedback.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="approve">
                            <button class="btn btn-success">V</button>
                        </form>
                        <form action="{% url 'moderate_feedback' feedback.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="decline">
                            <button class="btn btn-danger">X</button>
                        </form>
                    {% endif %}
                    {{ feedback.author.username }}: {{ feedback.text }}
                    {% if feedback.status == feedback.DECLINED %}( declined ){% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
