{% extends 'places/base.html' %}

{% load places_extra %}

{% block content %}

    <form action="" class="hall-form" method="post">
        {% csrf_token %}
        {% for row in rows %}
            <div class="d-flex">
                {% for seat in seats %}
                    <div class="checkbox-wrap">
                        <label for="seat-{{ row }}-{{ seat }}">{{ row }}{{ seat }}</label>
                        <input id="seat-{{ row }}-{{ seat }}"
                               {% if blocked_seats|check_row:row|check_seat:seat %}disabled=""{% endif %}
                               name="seat-{{ row }}-{{ seat }}" type="checkbox"/>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <button>Submit</button>
    </form>
    <form action="matvey ordering">
        <select name="order_by" id="">
            <option value="price"> Price</option>
            <option value="time"{% if ordering == 'time' %} selected{% endif %}> Time</option>
        </select>
                <button>sort</button>

    </form>
{% endblock %}
