{% extends 'places/base.html' %}

{% block title %} My info {% endblock %}

{% block content %}
    Username: {{ user.username }}
    Email: {{ user.email }}
    {% if confirm_form %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="confirm">
            <p>Confirm your email</p>
            {{ confirm_form }}
            <button>Confirm</button>
        </form>
    {% endif %}
{% endblock %}
