{% extends 'places/base.html' %}

{% block title %} Registration {% endblock %}

{% block content %}
    <form class="container" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Register</button>
    </form>
{% endblock %}
